In [6]:
import pandas as pd

ts_ms = pd.date_range(start='2025-01-01',
                    end='2025-10-02',
                    periods=100,
                    tz='Asia/Seoul')

data = { 'date': ts_ms.strftime('%Y-%m-%d')}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df.date)

In [7]:
# 년도를 추출해 새로운 칼럼으로 넣기
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day_int'] = df.date.dt.weekday #0: 월요일

def convert_week(x):
    temp=['월','화','수','목','금','토','일']
    return temp[x]

df['day_str'] = df['day_int'].apply(lambda x: convert_week(x))
df.head()

        date  year  month  day_int day_str
0 2025-01-01  2025      1        2       수
1 2025-01-03  2025      1        4       금
2 2025-01-06  2025      1        0       월
3 2025-01-09  2025      1        3       목
4 2025-01-12  2025      1        6       일

In [8]:
# 주말(토일)은 1, 나머지 0
def identify_weekend(x):
    if x=='토' or x=='일':
        return 1
    else:
        return 0

df['day_weekend'] = df['day_str'].apply(lambda x: identify_weekend(x))
df.head()

        date  year  month  day_int day_str  day_weekend
0 2025-01-01  2025      1        2       수            0
1 2025-01-03  2025      1        4       금            0
2 2025-01-06  2025      1        0       월            0
3 2025-01-09  2025      1        3       목            0
4 2025-01-12  2025      1        6       일            1

In [9]:
# 공휴일을 알려주는 라이브러리
# %pip install holidays

In [10]:
import holidays

kr_holidays = holidays.KR(years=[2025])
# 기존 데이터에 추가하기
kr_holidays.append({'2025-10-10' : '휴강'})

for date, name in sorted(kr_holidays.items()):
    print(f"{date} : {name}")

2025-01-01 : 신정연휴
2025-01-27 : 임시공휴일
2025-01-28 : 설날 전날
2025-01-29 : 설날
2025-01-30 : 설날 다음날
2025-03-01 : 삼일절
2025-03-03 : 삼일절 대체 휴일
2025-05-05 : 부처님오신날; 어린이날
2025-05-06 : 부처님오신날 대체 휴일; 어린이날 대체 휴일
2025-06-03 : 대통령 선거일
2025-06-06 : 현충일
2025-08-15 : 광복절
2025-10-03 : 개천절
2025-10-05 : 추석 전날
2025-10-06 : 추석
2025-10-07 : 추석 다음날
2025-10-08 : 추석 대체 휴일
2025-10-09 : 한글날
2025-10-10 : 휴강
2025-12-25 : 기독탄신일

In [12]:
# holiday:1 , not:0
def holidays(x):
    if x in kr_holidays:
        return 1
    else:
        return 0

df['is_holiday'] = df['date'].apply(lambda x: holidays(x))
df.head()

        date  year  month  day_int day_str  day_weekend  is_holiday
0 2025-01-01  2025      1        2       수            0           1
1 2025-01-03  2025      1        4       금            0           0
2 2025-01-06  2025      1        0       월            0           0
3 2025-01-09  2025      1        3       목            0           0
4 2025-01-12  2025      1        6       일            1           0